#Gauges {
	padding: 15px;
	margin-bottom: 15px;
	width: 100%;

	border: 1px black gray;
	background-color: gray;
	box-shadow: 10px 10px 5px #333333;
}

h4 {
	text-shadow: 2px 2px 4px #000000;
}

#ChartDIV {
	padding: 15px;

	/*border: 1px black gray;*/
	background-color: lightgray;
	box-shadow: 10px 10px 5px #333333;
}

#Chart {
}

#Water-Level-LED {
	margin: 20px auto;
	width: 26px;
	height: 26px;
	background-color: rgb(0, 255, 0);
	border-radius: 50%;
	box-shadow: #000000 0 -1px 7px 1px, inset #006600 0 -1px 9px, #00FF00 0 2px 12px;
}

#Separator {
	width: 100%;

	text-align: center;
	font-size: 48px;
	color: white;
	text-shadow: 2px 2px 4px #000000;
}


